<footer class="footer">
    <div class="footer__container">
        <section class="footer__about-text">
            <h2 class="footer__title">Sobre</h2>
            <p>Uma loja com história.</p>
        </section>
        <address>
            <h2 class="footer__tile">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-envelope"></i> (31) 99999-9999</li>
                <li><i class="fa-brands fa-whatsapp"></i> (31) 99999-9999</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todo os direitos reservados
    </section>
</footer>